.main {
  display: block;

  justify-content: space-around;
}

.container {
  position: relative;
  height: 257px;
  width: 200px;
  /* align-items: center; */
  padding: 1rem 1rem;
}

.poster {
  height: 257px;
  width: 200px;
}

.description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(29, 106, 154, 0.72);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  text-align: center;

  /* transition effect. not necessary */
  transition: opacity 0.2s, visibility 0.2s;
}

.container:hover .description {
  visibility: visible;
  opacity: 1;
  cursor: pointer;
}
.button {
  color: white;
  background-color: rgb(235, 155, 35);
  padding: 0.8em 0.8em;
  border-radius: 2rem;
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  .main {
    display: inline-flex;
    padding: 1rem 1rem;
  }
}
