html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}

.main {
  padding-top: 0.5rem;
  width: 100%;
}

.title {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .main {
    text-align: center;
  }
}
